.button{
    background-color:  rgba(0,0,0,0.2);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    font-family: "Times New Roman", Times, serif; 
    font-style: bold;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #fff;
        color: #000;
    }
    
}

.disabled{
    background-color: gray;
    &:hover{
        background-color: gray;
        color: rgb(0, 0, 0);

    }
    cursor: not-allowed;

}

//media query phone
@media screen and (max-width: 650px) {
    .button{
        height: 2rem;
        font-size: 0.7rem;
        width: 4.5rem;

    }
}
