.ListProducts{
    display: flex;
    flex-direction: row;
    // flex: 0 0 33.333333%;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2rem auto;
    gap:1rem;
    flex: 1;
    // max-width: 15rem;
    padding: 0 20px;
    margin: 3rem;
    
}

.header-left{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 3rem;

}

//media query 
@media screen and (max-width: 768px) {
    #title{
        font-size: 1.2rem;

    }
    .header{
        padding: 1rem;
    }
    .header-left{
        margin: 0;
        gap: 0.5rem;
    
    }
}

